.App {
  text-align: center;
  font-family: "Proxima-Nova", sans-serif;
  padding-bottom: 87px;
}

.App-header {
  background-color: #a8d8d8;
  padding: 10px 20px;
  color: white;
}

.App-header header {
    background: url('../../assets/img/shared/sign.svg') center center no-repeat;
    height: 260px;
    padding-top: 1px;
}

.App-header__logo {
    width: 72px;
}

.App-header__site-name {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "reklame-script", sans-serif;
    font-weight: 700;
    font-size: 3.998rem;
    font-style: normal;
    letter-spacing: 0.01em;
    color: #a8d8d8;
}

.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #271621;
}

nav > ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 20px;
}

nav > ul > li {
    display: block;
    flex-basis: 25%;
}

.nav-bar__nav-icon {
    max-height: 30px;
}

.nav-bar a {
    color: #a8d8d8;
    text-decoration: none;
}

.search-bar {
    margin: 20px 0;
}

.search-bar__input {
    font-size: 1.999rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

.category-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: calc(100% - 40px);
    padding: 0;
    margin: 0 20px;
}

.category-list__category {
    display: block;
    flex: calc(50% - 5px) 0 1;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #a8d8d8;
}

.category-list__category:first-of-type{
    background-image: url('../../assets/img/asian.svg');
    background-size: contain;
    background-position: right 10px center;
    background-repeat: no-repeat;
}

.category-list__category > a {
    padding: 20px;
    display: block;
    color: #271621;
    text-decoration: none;
    font-weight: 600;
    text-align: left;
}

.restaurant-list {
    display: block;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}

.restaurant-item {
    display: block;
    text-align: left;
    clear: both;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.restaurant-item h3 {
    display: inline-block;
    margin: 0;
}

.restaurant-item ul {
    display: inline-block;
    float: right;
    text-align: right;
}

.restaurant-item li {
    display: block;
    font-size: 0.707rem;
}
