.App {
  text-align: center;
  font-family: "Proxima-Nova", sans-serif;
  padding-bottom: 87px;
}

.App-header {
  background-color: #a8d8d8;
  padding: 20px;
  color: white;
}

.App-header header {
    background: url('../../assets/img/shared/sign.svg') center center no-repeat;
    height: 260px;
    padding-top: 1px;
}

h1 {
    font-family: "reklame-script", sans-serif;
    font-weight: 700;
    font-size: 3.998rem;
    font-style: normal;
    letter-spacing: 0.01em;
    color: #a8d8d8;
}

.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #271621;
}

nav > ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 20px;
}

nav > ul > li {
    display: block;
    flex-basis: 25%;
}

.nav-bar__nav-icon {
    max-height: 30px;
}

.nav-bar a {
    color: #a8d8d8;
    text-decoration: none;
}

.search-bar {
    margin: 20px 0;
}

.search-bar__input {
    font-size: 1.999rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

.restaurant-list {
    display: block;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}

.restaurant-item {
    display: block;
}

.restaurant-item h3 {
    display: inline-block;
}

.restaurant-item ul {
    display: inline-block;
}

.restaurant-item li {
    display: inline-block;
    margin-right: 20px;
}
